# Gradle
.gradle/
.gradle-enterprise/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Kotlin
.kotlin/
*.kotlin_module
*.kotlin_builtins
*.kotlin_metadata

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/
bin/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
